<!DOCTYPE html>
<html>
<head>
    <head>
        <title>CapaFansub - ??</title>
        <link rel="stylesheet" href="/css/bootstrap-dark.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
</head>
<body>
    <div id="centeredDiv">
        <img src="/img/wtfcapa.jpg" class="centered-image">
        <p>&#129320; what the hell are you doing? you broke me &#129320;</p>
        <code><%= error_msg %></code>
    </div>
</body>
</html>