<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CapaFansub</title>
    <link rel="stylesheet" href="/css/bootstrap-dark.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="bodyBackgrounded">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">CapaFansub</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/download">download your favorite capa song!!</a></li>
        </ul>
      </nav>
    <main>
        <div id="centeredDiv">
            <h1>Capa is Love</h1>
            <h2>Capa is Life</h2>
            <p>Nice to meet you fellow Capa fan!! <br>
            I am the n° 1 fan of Caparezza! If you don't know him, then shame on you!!!!</p>
            <p>Caparezza is the best singer of Italy, and probably even of the entire word!<br>
            His songs are just awesome, and I personally think he's also a very cool guy!! If you are curious<br>
            I think that this is his best song:</p>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/a9tf49drPKY?si=SP7gc7OR1FHE60Mg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>If you love Capa like I do, check out <a href="/download">here</a> and download your favorite song!</p>
        </div>
    </main>
</body>
</html>