h1, h2 {
    color: black;
    font-weight: bold;
}

p {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

#songText {
    font-size: 100px;
    animation: flashing 1s infinite;
    text-align: center;
    margin-top: 20%;
}

#centeredDiv {
    background-color: rgb(217, 217, 217);
    padding: 20px;
    border: 5px solid white;
    border-radius: 20px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    width: max-content;
    height: max-content;
}

#bodyBackgrounded {
    background: url('/img/capabg.jpg');
}

@keyframes flashing {
    0% { color: red; }
    50% { color: blue; }
    100% { color: green; }
}